<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--lazy-init：懒加载，Spring延迟加载bean,默认为false,为true时，使用到此bean时才会被加载-->
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl" lazy-init="true"/>

</beans>